* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    padding: 10px 0;
    overflow-y: auto;
}

.container {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 898px;
    height: 750px;
    border: 1px solid #009685;
    box-shadow: 0px 0px 15px #0096848e;
    border-radius: 20px;
}

#pasha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
    height: 100%;
    padding: 20px;
    align-items: flex-start;
}

#pasha_niz {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    align-items: flex-start;
}

#theme-toggle {
    transform: scale(1.3);
    transform-origin: left top;
    margin-left: 8px;
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

#messages {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 70%;
}

#chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-height: 750px;
    margin: 10px 0;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

#chat::-webkit-scrollbar {
    width: 6px;
}

#chat::-webkit-scrollbar-thumb {
    background: #009685;
    border-radius: 3px;
}

@keyframes messageAppear {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.message {
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
    word-break: break-word;
    opacity: 0;
    animation: messageAppear 0.3s ease-out forwards;
}

.user {
    max-width: 80%;
    color: #ffff;
    background-color: #009685;
    margin-left: auto;
}

.undefined {
    background-color: #f1f0f0;
    margin-right: auto;
}

.bot {
    background-color: #e6e6e6;
    color: #000000;
    margin-right: auto;
}

#form_inp {
    max-width: 900px;
    max-height: 10%;
}

#inputForm {
    max-width: 800px;
    margin: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 0px 0px;
    margin-top: 10px;
    bottom: 0px;
    background-color: #F0F0F0;
    border: 1px solid #009685;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #0096848e;
}

#inputMsg {
    width: 92%;
    height: 90%;
    flex-grow: 1;
    padding: 10px;
    font-size: 1em;
    background-color: #F0F0F0;
    border: 0px;
    border-radius: 5px;
    outline: none;
}

#sendBtn {
    display: flex;
    width: 20px;
    height: 20px;
    font-size: 1em;
    border: 0px;
    background-image: url("image/send.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#toggleSpeech {
    transform: scale(1.3);
    transform-origin: left top;
    margin-left: 8px;
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

#pasha img {
    justify-content: end;
    max-width: 100%;
}

.speak-btn {
    font-size: 0.8em;
    margin-top: 5px;
    background-color: #EEDDFF;
    border: none;
    border-radius: 5px;
    color: #9A28AF;
    cursor: pointer;
    padding: 3px;
    display: inline-block;
}

.speak-btn:hover {
    color: #7c1f8e;
    text-decoration: underline;
}


/** Тёмная тема **/

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --container-bg: #f0f0f0; /* светлая тема */
}

.dark-theme {
  --bg-color: #121826;
  --text-color: #f5f5f5;
  --container-bg: #2E3748; /* тёмная тема */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
  background-color: var(--container-bg);
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}
